.din-condensed-web {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif
}

.acumin-pro {
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif
}

html {
    font-size: 16px!important
}

@media (max-width: 768px) {
    html {
        font-size:13px!important
    }
}

html body#roto-home-page {
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    margin: 0
}

html .container {
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    html .container {
        width:750px
    }
}

@media (min-width: 992px) {
    html .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    html .container {
        width:1170px
    }
}

html .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

html .custom-row {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%
}

@media only screen and (min-width: 768px) {
    html .custom-row {
        max-width:64rem;
        min-width: 48rem;
        padding-left: .75rem;
        padding-right: .75rem
    }
}

@media only screen and (min-width: 1128px) {
    html .custom-row {
        max-width:77rem;
        min-width: 70.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

#mobile-full-screen-search {
    opacity: 0
}

.no-tooltip {
    pointer-events: none
}

.transform {
    -webkit-transition: margin-left .25s ease;
    transition: margin-left .25s ease
}



.display-mobile-nav-phone-number #mobile-menu-sub-header.roto-navigation-container>#breakout-nav {
    margin-top: -5.25rem
}

.display-mobile-nav-phone-number #mobile-menu-sub-header.roto-navigation-container>#nav-phone-number:before {
    left: 0
}

.display-mobile-nav-phone-number #mobile-menu-sub-header.roto-navigation-container>#nav-phone-number:after {
    right: 0
}

#mobile-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    min-width: 320px;
    z-index: 1000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 768px) {
    #mobile-header {
        display:none
    }
}

#mobile-header.sticky #mobile-menu-sub-header.roto-navigation-container>#breakout-nav {
    margin-top: -5.25rem
}

#mobile-header.sticky #mobile-menu-sub-header.roto-navigation-container>#nav-phone-number:before {
    left: 0
}

#mobile-header.sticky #mobile-menu-sub-header.roto-navigation-container>#nav-phone-number:after {
    right: 0
}

#mobile-header .roto-navigation-container {
    position: relative
}

#mobile-header .roto-navigation-container#mobile-menu-header {
    background-color: #2d397d;
    height: 4.5rem;
    padding: .25rem .75rem
}

#mobile-header .roto-navigation-container#mobile-menu-header .svg,#mobile-header .roto-navigation-container#mobile-menu-header svg {
    display: block;
    height: 100%;
    width: auto
}

#mobile-header .roto-navigation-container#mobile-menu-header #open-side-nav {
    float: left;
    height: 100%;
    width: 44px
}

#mobile-header .roto-navigation-container#mobile-menu-header #open-side-nav .svg>.a,#mobile-header .roto-navigation-container#mobile-menu-header #open-side-nav svg>.a {
    fill: #fff
}

#mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    max-width: 22.1666667rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 71.25%;
    z-index: 1
}

#mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo .svg,#mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo svg {
    bottom: 0;
    height: 36px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 228px;
    padding-left: 5px;
    padding-right: 5px
}

@media only screen and (min-width: 360px) {
    #mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo .svg,#mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo svg {
        height:40px;
        width: 256px
    }
}

@media only screen and (min-width: 376px) {
    #mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo .svg,#mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo svg {
        height:42px;
        width: 266px
    }
}

#mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo .svg>.a,#mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo svg>.a {
    fill: #fff
}

#mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo .svg>.b,#mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo svg>.b {
    fill: #2d397d
}

#mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo .svg>.c,#mobile-header .roto-navigation-container#mobile-menu-header #mobile-logo svg>.c {
    fill: #d52d37
}

#mobile-header .roto-navigation-container#mobile-menu-header #site-search {
    float: right;
    height: 100%;
    width: 44px
}

#mobile-header .roto-navigation-container#mobile-menu-header #site-search .svg>.a,#mobile-header .roto-navigation-container#mobile-menu-header #site-search svg>.a {
    fill: #fff
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header {
    background: transparent;
    height: 5.25rem;
    overflow: hidden;
    padding: 0
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header:after {
    background-color: transparent;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,.2)),color-stop(1,transparent));
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.2)),to(transparent));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.2),transparent);
    background-image: linear-gradient(180deg,rgba(0,0,0,.2) 0,transparent);
    content: "";
    display: block;
    height: .75rem;
    width: 100%
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav {
    background-color: #506bb7;
    display: block;
    overflow: hidden;
    height: 5.25rem;
    margin-top: 0;
    -webkit-transition: margin-top .5s;
    transition: margin-top .5s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item {
    height: 5.25rem;
    float: left;
    width: 25%;
    position: relative;
    color: #fff;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item:after {
    background-color: #778cc7;
    bottom: 0;
    content: "";
    height: 3.75rem;
    left: auto;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item:last-of-type:after {
    content: none
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item .svg,#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item svg {
    height: 2.83333rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: .5rem;
    width: 2.66667rem
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item .svg>.a,#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item svg>.a {
    fill: #fff
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item span {
    color: #fff;
    display: block;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 3.25rem;
    width: 100%
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item:active,#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item:active span,#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item:hover,#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .breakout-nav-item:hover span {
    color: #fff;
    text-decoration: none
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav #mob-location {
    color: #fff;
    float: left;
    font-size: 1.5rem;
    height: 5.25rem;
    line-height: 4.75rem;
    overflow: hidden;
    padding-left: 1.5rem;
    text-decoration: underline;
    white-space: nowrap
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav #mob-location.local-page {
    width: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav #mob-call-now {
    float: right;
    height: 5.25rem;
    width: 85px;
    display: inline-block;
    background-color: #d52d37;
    color: #fff;
    text-align: center
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav #mob-call-now>em {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: .5rem
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav #mob-call-now>em svg {
    width: 39px;
    height: 39px;
    fill: #fff
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav #mob-call-now>span {
    display: inline-block;
    width: 100%;
    text-align: center;
    top: -.7rem;
    position: relative
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav #mob-location-change {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    font-weight: 400;
    color: #c4cde7;
    float: left;
    height: 5.25rem;
    line-height: 5.25rem;
    overflow: hidden;
    padding: 0 1.5rem;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .fylp-search-wrapper {
    background-color: #fff;
    border: medium none;
    border-radius: .5rem;
    cursor: pointer;
    height: 4rem;
    padding: .25rem;
    position: relative;
    width: calc(100% - 85px - 2rem);
    float: left;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 1rem;
    margin-top: .5rem
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .fylp-search-wrapper .fylp-search {
    color: #506bb7;
    font-size: 1.5rem;
    font-weight: 400;
    height: 100%;
    line-height: 2.5;
    padding: 0 0 0 1rem;
    position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden
}

@media (max-width: 375px) {
    #mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .fylp-search-wrapper .fylp-search {
        font-size:1rem;
        line-height: 3.5;
        padding: 0 0 0 .5rem
    }
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .fylp-search-wrapper .fylp-search>svg {
    fill: #fff;
    background-color: #506bb7;
    border-radius: .25rem;
    color: #fff;
    font-size: 2.75rem;
    height: 3.5rem;
    line-height: 1.33333333;
    margin: auto;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 3.5rem
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .reviews-count {
    margin-right: 1.3rem;
    float: left;
    height: 1.25rem;
    display: inline-block
}

@media (min-width: 768px) {
    #mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .reviews-count {
        display:none
    }
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .reviews-count>span {
    height: 1.5rem;
    line-height: 1.25rem;
    color: #fff
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .hidden-print {
    padding-right: .5rem;
    float: left;
    height: 1.25rem;
    line-height: 1.9rem;
    padding-left: 1.5rem;
    display: inline-block;
    text-align: left
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #breakout-nav .hidden-print>.star-ratings {
    font-size: 1.4rem
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #nav-phone-number {
    color: #fff;
    background-color: #506bb7;
    display: block;
    height: 4.5rem;
    line-height: 4.25rem;
    position: relative;
    text-align: center;
    text-decoration: none
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #nav-phone-number svg {
    width: 36px;
    height: 36px;
    fill: #fff;
    vertical-align: middle
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #nav-phone-number:hover {
    text-decoration: none
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #nav-phone-number:before {
    background: transparent url(/images/ICON-nav-phone-number-left.svg) no-repeat 100%;
    background-size: auto 100%;
    content: "";
    height: 100%;
    left: -1.75rem;
    position: absolute;
    top: 0;
    width: 1.75rem;
    -webkit-transition: left .5s ease .5s;
    transition: left .5s ease .5s
}

#mobile-header .roto-navigation-container#mobile-menu-sub-header #nav-phone-number:after {
    background: transparent url(/images/ICON-nav-phone-number-right.svg) no-repeat 100%;
    background-size: auto 100%;
    content: "";
    height: 100%;
    left: auto;
    position: absolute;
    right: -1.75rem;
    top: 0;
    width: 1.75rem;
    -webkit-transition: right .5s ease .5s;
    transition: right .5s ease .5s
}

.hide-mobile-fylp #mobile-header #mobile-menu-sub-header.roto-navigation-container>#breakout-nav {
    margin-top: -5.25rem
}

.hide-mobile-fylp #mobile-header #mobile-menu-sub-header.roto-navigation-container>#nav-phone-number:before {
    left: 0
}

.hide-mobile-fylp #mobile-header #mobile-menu-sub-header.roto-navigation-container>#nav-phone-number:after {
    right: 0
}

.mobile-menu-header {
    font-size: 16px;
    background-color: #2d397d
}

.mobile-menu-header .roto-navigation-container {
    padding-top: .65rem;
    padding-bottom: .65rem
}

.mobile-menu-header .roto-navigation-container .mobile-menu {
    padding-left: 0;
    padding-right: 0
}

.mobile-menu-header .roto-navigation-container .rotorooter-mobile-logo {
    background: url(http://system4dev.rotorooter.com:8080/images/RR-logo-MOB.svg) no-repeat;
    background-size: 100%;
    background-position: 50%;
    height: 3.125em
}

.mobile-menu-header .roto-navigation-container .rotorooter-mobile-logo a {
    display: block;
    width: 100%;
    height: 3.125em
}

.mobile-menu-header .roto-navigation-container .mobile-menu-nav-icon {
    height: 3.125em;
    width: 3em;
    margin: 0 auto
}

.mobile-menu-header .roto-navigation-container .mobile-menu-nav-icon.main-nav-icon {
    background-size: 100%;
    background-position: 0 0;
    background: url(http://system4dev.rotorooter.com:8080/images/ICON-Menu-MainNav-MOB.svg) no-repeat
}

.mobile-menu-header .roto-navigation-container .mobile-menu-nav-icon.search-icon {
    background-size: 100%;
    background-position: 0 0;
    background: url(http://system4dev.rotorooter.com:8080/images/ICON-Menu-Search-MOB.svg) no-repeat
}

.mobile-menu-header .roto-navigation-container .mobile-menu-nav-icon span {
    display: block;
    width: 100%;
    height: 3.125em
}

.mobile-menu-sub-header {
    font-size: 16px;
    background-color: #506bb7
}

.mobile-menu-sub-header .roto-navigation-container {
    padding-top: .65rem;
    padding-bottom: .65rem
}

.mobile-menu-sub-header .roto-navigation-container .mobile-menu-sub-header-item {
    border-right: 1px solid hsla(0,0%,100%,.15)
}

.mobile-menu-sub-header .roto-navigation-container .mobile-menu-sub-header-item.last-child {
    border-right: none
}

.mobile-menu-sub-header .roto-navigation-container .mobile-menu-sub-header-item .mobile-menu-item a {
    color: #fff;
    text-align: center;
    letter-spacing: .015625em;
    display: table;
    width: 100%
}

.mobile-menu-sub-header .roto-navigation-container .mobile-menu-sub-header-item .mobile-menu-item a .item-icon {
    height: 3.125em;
    width: 3em;
    margin: 0 auto;
    font-size: 1.15rem
}

.mobile-menu-sub-header .roto-navigation-container .mobile-menu-sub-header-item .mobile-menu-item a .schedule-icon {
    background-size: 100%;
    background-position: 0 0;
    background: url(http://system4dev.rotorooter.com:8080/images/ICON-Schedule-Service-MOB.svg) no-repeat
}

.mobile-menu-sub-header .roto-navigation-container .mobile-menu-sub-header-item .mobile-menu-item a .location-icon {
    background-size: 100%;
    background-position: 0 0;
    background: url(http://system4dev.rotorooter.com:8080/images/ICON-Locations-MOB.svg) no-repeat
}

.mobile-menu-sub-header .roto-navigation-container .mobile-menu-sub-header-item .mobile-menu-item a .residential-icon {
    background-size: 100%;
    background-position: 0 0;
    background: url(http://system4dev.rotorooter.com:8080/images/ICON-Residential-MOB.svg) no-repeat
}

.mobile-menu-sub-header .roto-navigation-container .mobile-menu-sub-header-item .mobile-menu-item a .commercial-icon {
    background-size: 100%;
    background-position: 0 0;
    background: url(http://system4dev.rotorooter.com:8080/images/ICON-Commercial-MOB.svg) no-repeat
}

.mobile-menu-sub-header .roto-navigation-container .mobile-menu-sub-header-item .mobile-menu-item a span.item-text {
    display: block;
    font-size: 1rem;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif
}

html.open,html.open body {
    overflow: hidden
}

#mobile-navigation {
    background-color: hsla(0,0%,93%,0);
    height: 100%;
    left: 0;
    margin-left: -100%;
    overflow: auto;
    position: fixed;
    top: 0;
    -webkit-transition: margin-left .5s,background-color .5s ease .25s;
    -icab-transition: margin-left .5s,background-color .5s ease .25s;
    transition: margin-left .5s,background-color .5s ease .25s;
    width: 100%;
    z-index: 1500
}

#mobile-navigation.open {
    background-color: hsla(0,0%,93%,.7);
    margin-left: 0
}

#mobile-navigation #mobile-menu-nav-container {
    background-color: #969cbe;
    min-height: 100vh;
    position: relative;
    width: 97%;
    overflow: hidden
}

#mobile-navigation #mobile-menu-nav-container ol,#mobile-navigation #mobile-menu-nav-container ul {
    background-color: #6c74a4;
    list-style: none;
    padding: 0;
    position: relative;
    margin: 0;
    float: left;
    width: 50%;
    -webkit-transition: margin-left .5s;
    -icab-transition: margin-left .5s;
    transition: margin-left .5s;
    z-index: 1
}

#mobile-navigation #mobile-menu-nav-container li {
    list-style: none;
    position: relative;
    margin-bottom: -1px
}

#mobile-navigation #mobile-menu-nav-container li.current {
    background-color: #2d397d
}

#mobile-navigation #mobile-menu-nav-container li.current a {
    border-bottom: 1px solid #2d397d
}

#mobile-navigation #mobile-menu-nav-container a {
    color: #fff;
    display: block;
    text-align: right;
    text-decoration: none
}

#mobile-navigation #mobile-menu-nav-container a:hover {
    text-decoration: none;
    color: #fff
}

#mobile-navigation #mobile-menu-nav-container a:active,#mobile-navigation #mobile-menu-nav-container a:focus {
    outline: none!important
}

#mobile-navigation #mobile-menu-nav-container nav {
    width: 200%;
    overflow: hidden;
    position: relative
}

#mobile-navigation #mobile-menu-nav-container nav a {
    border-bottom: 1px solid #424d8a;
    font-size: 1.75rem;
    height: 4.5rem;
    line-height: 2.25;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    overflow: hidden;
    position: relative;
    white-space: nowrap
}

#mobile-navigation #mobile-menu-nav-container nav a.close-main-subnav {
    margin: 0;
    border-bottom: none!important;
    position: absolute;
    text-align: center;
    top: 0;
    width: 4.5rem;
    z-index: 100
}

#mobile-navigation #mobile-menu-nav-container nav a.close-main-subnav svg {
    height: 3rem;
    width: 3rem;
    margin-top: .75rem
}

#mobile-navigation #mobile-menu-nav-container nav a.close-main-subnav svg path:nth-child(2) {
    fill: #fff
}

#mobile-navigation #mobile-menu-nav-container nav.mobile-menu-main-nav:after {
    background-color: #8188b1;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

#mobile-navigation #mobile-menu-nav-container nav.mobile-menu-main-nav li:last-child a {
    border-bottom: none
}

#mobile-navigation #mobile-menu-nav-container nav .mobile-menu-main-subnav {
    display: none;
    background-color: #8188b1
}

#mobile-navigation #mobile-menu-nav-container nav .mobile-menu-main-subnav li a {
    border-bottom: 1px solid #576197
}

#mobile-navigation #mobile-menu-nav-container nav .mobile-menu-main-subnav li.current a {
    border-bottom: none
}

#mobile-navigation #mobile-menu-nav-container nav .mobile-menu-main-subnav li.top-level {
    background-color: #576197
}

#mobile-navigation #mobile-menu-nav-container nav .mobile-menu-main-subnav li.top-level a {
    border-bottom: none
}

#mobile-navigation #mobile-menu-nav-container nav.mobile-menu-secondary-nav {
    padding-bottom: 6rem;
    padding-top: 1rem;
    width: 100%
}

#mobile-navigation #mobile-menu-nav-container nav.mobile-menu-secondary-nav a {
    border-bottom: medium none;
    font-size: 1.25rem;
    font-weight: 200;
    height: 4rem;
    letter-spacing: 1px;
    line-height: 3;
    text-transform: uppercase
}

#mobile-navigation #mobile-menu-nav-container #close-side-nav {
    font-size: 3rem;
    height: 4.5rem;
    left: 0;
    line-height: 4.5rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 4.5rem;
    z-index: 100;
    -webkit-transition: left .5s;
    -icab-transition: left .5s;
    transition: left .5s
}

#mobile-navigation #mobile-menu-nav-container #close-side-nav svg {
    height: 3rem;
    width: 3rem;
    margin-top: 9px
}

#mobile-navigation #mobile-menu-nav-container.subnav-open a#close-side-nav {
    left: -100%
}

#mobile-navigation #mobile-menu-nav-container.subnav-open ul#mobile-menu-main-nav {
    margin-left: -50%
}

.mobile-navigation-bootstrap3 {
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: block;
    background-color: hsla(0,0%,100%,.7);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%!important;
    width: 100%!important;
    z-index: 140;
    overflow: hidden;
    margin-left: -100%;
    font-size: 16px
}

.mobile-navigation-bootstrap3.transform-active {
    margin-left: 0
}

.mobile-navigation-bootstrap3 .right-box-shadow {
    -webkit-box-shadow: inset -7px 0 9px -7px rgba(0,0,0,.4);
    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,.4)
}

.mobile-navigation-bootstrap3 .mobile-menu-content-container {
    height: 62.5em;
    background-color: #8188b1;
    padding: 0
}

.mobile-navigation-bootstrap3 .mobile-menu-transparent {
    display: block;
    height: 62.5em;
    background: transparent
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav,.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent {
    font-family: opensans-regular,Helvetica,Arial,sans-serif
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-header,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-header {
    background-color: #2d397d
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-header h3.menu-header,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-header h3.menu-header {
    text-align: right;
    color: #fff;
    margin: 0;
    padding: 1em 0;
    text-transform: uppercase;
    font-size: 5vw
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-header h3.menu-header span,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-header h3.menu-header span {
    float: left;
    padding-top: .1em;
    padding-right: 1em;
    padding-bottom: .5em
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-header h3.menu-header a.menu-header-text,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-header h3.menu-header a.menu-header-text {
    font-size: 4.5vw;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    margin: 0;
    position: relative;
    display: block;
    letter-spacing: 1px
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-header h3.menu-header a.menu-header-text:hover,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-header h3.menu-header a.menu-header-text:hover {
    text-decoration: none
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items {
    background-color: #576197
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav,.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items ul.side-menu,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items ul.side-menu {
    list-style-type: none;
    padding-left: 0
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav li,.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items ul.side-menu li,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav li,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items ul.side-menu li {
    padding: 0;
    margin: 0;
    text-align: right;
    border-bottom: 1px solid #2d397d
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav li:last-child,.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items ul.side-menu li:last-child,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav li:last-child,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items ul.side-menu li:last-child {
    border-bottom: none
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav li.active a,.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items ul.side-menu li.active a,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav li.active a,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items ul.side-menu li.active a {
    color: #2d397d
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav li>a,.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items ul.side-menu li>a,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav li>a,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items ul.side-menu li>a {
    display: block;
    color: #fff;
    padding: 1em 0;
    letter-spacing: 1px
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav li>a:hover,.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items ul.side-menu li>a:hover,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items .mobile-menu-subnav ul.mobile-menu-item-subnav li>a:hover,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items ul.side-menu li>a:hover {
    text-decoration: none
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-items .mobile-menu-subnav,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-items .mobile-menu-subnav {
    display: none
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-footer,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-footer {
    background-color: #8188b1
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-footer ul.mobile-nav-menu-shared-items,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-footer ul.mobile-nav-menu-shared-items {
    list-style-type: none;
    padding: .625em
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-footer ul.mobile-nav-menu-shared-items li,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-footer ul.mobile-nav-menu-shared-items li {
    padding: 0;
    margin: 0;
    text-align: right
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-footer ul.mobile-nav-menu-shared-items li a,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-footer ul.mobile-nav-menu-shared-items li a {
    display: block;
    color: #fff;
    padding: .3125em 0 .3125em 3.125em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-footer ul.mobile-nav-menu-shared-items li a:hover,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-footer ul.mobile-nav-menu-shared-items li a:hover {
    text-decoration: none
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    z-index: 140
}

.mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent {
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    z-index: 100
}

@media only screen and (min-width: 768px) {
    #mobile-navigation {
        display:none!important
    }
}

@media only screen and (min-width: 360px) {
    #mobile-navigation #mobile-menu-nav-container {
        width:87%
    }
}

@media only screen and (min-width: 375px) {
    #mobile-navigation #mobile-menu-nav-container {
        width:84.12%
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width:568px) {
    .mobile-navigation-bootstrap3 {
        overflow-x:hidden;
        overflow-y: auto
    }

    .mobile-navigation-bootstrap3 .mobile-menu-content-container,.mobile-navigation-bootstrap3 .mobile-menu-transparent {
        height: 48.75em
    }

    .mobile-navigation-bootstrap3 .mobile-menu-content-container .mobile-nav-menu-footer ul.mobile-nav-menu-shared-items li a {
        font-size: .875em
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width:736px) {
    .mobile-navigation-bootstrap3 {
        overflow:hidden
    }

    .mobile-navigation-bootstrap3 .mobile-menu-content-container,.mobile-navigation-bootstrap3 .mobile-menu-transparent {
        height: 62.5em
    }
}

@media only screen and (orientation: landscape) {
    .mobile-navigation-bootstrap3 {
        overflow-x:hidden;
        overflow-y: auto
    }

    .mobile-navigation-bootstrap3 .mobile-menu-main-nav-subcontent .mobile-nav-menu-header h3.menu-header span,.mobile-navigation-bootstrap3 .mobile-menu-main-nav .mobile-nav-menu-header h3.menu-header span {
        padding-top: 0;
        margin-top: -1.25%
    }

    .mobile-navigation-bootstrap3 .mobile-menu-content-container,.mobile-navigation-bootstrap3 .mobile-menu-transparent {
        height: 48.75em
    }

    .mobile-navigation-bootstrap3 .mobile-menu-content-container .mobile-nav-menu-footer ul.mobile-nav-menu-shared-items li a {
        font-size: .875em
    }
}

.tk-din,.tk-helvetica-neue,.tk-sans-condensed {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif
}

.tk-din {
    font-weight: 400
}

.tk-material-icons {
    bottom: -.166667em;
    display: inline-block;
    font-family: Material Icons;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    height: 1rem;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-rendering: optimizeLegibility;
    text-transform: none;
    top: auto;
    width: 1rem;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.calendar-before-text:before,.header-custom__phone-number:before,.link-with-calendar-after-text:after,.link-with-calendar-before-text:before,.material-icons {
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased
}

@font-face {
    font-family: sucrose_slantbold;
    src: url(/fonts/sucroseslant-bold-webfont.woff2) format("woff2"),url(/fonts/sucroseslant-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

.link-with-calendar-after-text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-flex;
    -js-display: inline-flex;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.link-with-calendar-after-text:after {
    content: "\E8DF";
    font-size: 150%;
    position: relative
}

.link-with-calendar-after-text:hover {
    text-decoration: none
}

.link-with-calendar-after-text:hover span {
    text-decoration: underline
}

.link-with-calendar-before-text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-flex;
    -js-display: inline-flex;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.link-with-calendar-before-text:before {
    content: "\E8DF";
    font-size: 150%;
    position: relative
}

.link-with-calendar-before-text:hover {
    text-decoration: none
}

.link-with-calendar-before-text:hover span {
    text-decoration: underline
}

.calendar-before-text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-flex;
    -js-display: inline-flex;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.calendar-before-text:before {
    content: "\E8DF";
    font-size: 150%;
    position: relative
}

.bg-rr-white {
    background-color: #fff!important
}

.bg-rr-blue-ten {
    background-color: #ebeef7!important
}

.bg-rr-blue-thirty {
    background-color: #c4cde7!important
}

.rr-font-navy {
    color: #2d397d!important
}

.rr-font-blue-ten {
    color: #ebeef7!important
}

.rr-font-blue-twenty {
    color: #d8deef!important
}

.rr-font-blue-thirty {
    color: #c4cde7!important
}

.rr-font-blue-fifty {
    color: #9eadd7!important
}

.rr-font-blue-ninety {
    color: #506bb7!important
}

.rr-font-blue {
    color: #3c5aaf!important
}

.rr-font-red {
    color: #d52d37!important
}

.rr-font-yellow {
    color: #efa41b!important
}

.rr-font-green {
    color: #34a232!important
}

.rr-font-secondary-green {
    color: #1aa073!important
}

.rr-font-alt-grey {
    color: #666!important
}

.rr-font-grey {
    color: #dbdbdb!important
}

.rr-font-light-grey {
    color: #ececec!important
}

.rr-font-heather {
    color: #393939!important
}

.rr-font-black {
    color: #000!important
}

.rr-font-white {
    color: #fff!important
}

.header-styling {
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0
}

.rr-body .rr-body h1,.rr-body .rr-heading-1,.rr-body body.rr-body .rr-body h1,.rr-body body.rr-body .rr-heading-1,.rr-body body.rr-body body.rr-body h1,.rr-body body.rr-body h1,.rr-body h1,.rr-heading-1,body.rr-body .rr-body .rr-body h1,body.rr-body .rr-body .rr-heading-1,body.rr-body .rr-body body.rr-body h1,body.rr-body .rr-body h1,body.rr-body .rr-heading-1,body.rr-body body.rr-body h1,body.rr-body h1 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 2.667rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-body h1,.rr-body .rr-heading-1,.rr-body body.rr-body .rr-body h1,.rr-body body.rr-body .rr-heading-1,.rr-body body.rr-body body.rr-body h1,.rr-body body.rr-body h1,.rr-body h1,.rr-heading-1,body.rr-body .rr-body .rr-body h1,body.rr-body .rr-body .rr-heading-1,body.rr-body .rr-body body.rr-body h1,body.rr-body .rr-body h1,body.rr-body .rr-heading-1,body.rr-body body.rr-body h1,body.rr-body h1 {
        font-size:3rem
    }
}

.rr-body .rr-body h2,.rr-body .rr-heading-2,.rr-body body.rr-body .rr-body h2,.rr-body body.rr-body .rr-heading-2,.rr-body body.rr-body body.rr-body h2,.rr-body body.rr-body h2,.rr-body h2,.rr-heading-2,body.rr-body .rr-body .rr-body h2,body.rr-body .rr-body .rr-heading-2,body.rr-body .rr-body body.rr-body h2,body.rr-body .rr-body h2,body.rr-body .rr-heading-2,body.rr-body body.rr-body h2,body.rr-body h2 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1.2;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 2.333rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-body h2,.rr-body .rr-heading-2,.rr-body body.rr-body .rr-body h2,.rr-body body.rr-body .rr-heading-2,.rr-body body.rr-body body.rr-body h2,.rr-body body.rr-body h2,.rr-body h2,.rr-heading-2,body.rr-body .rr-body .rr-body h2,body.rr-body .rr-body .rr-heading-2,body.rr-body .rr-body body.rr-body h2,body.rr-body .rr-body h2,body.rr-body .rr-heading-2,body.rr-body body.rr-body h2,body.rr-body h2 {
        font-size:2.5rem
    }
}

.rr-body .rr-body h3,.rr-body .rr-heading-3,.rr-body body.rr-body .rr-body h3,.rr-body body.rr-body .rr-heading-3,.rr-body body.rr-body body.rr-body h3,.rr-body body.rr-body h3,.rr-body h3,.rr-heading-3,body.rr-body .rr-body .rr-body h3,body.rr-body .rr-body .rr-heading-3,body.rr-body .rr-body body.rr-body h3,body.rr-body .rr-body h3,body.rr-body .rr-heading-3,body.rr-body body.rr-body h3,body.rr-body h3 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1.2;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 2.167rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-body h3,.rr-body .rr-heading-3,.rr-body body.rr-body .rr-body h3,.rr-body body.rr-body .rr-heading-3,.rr-body body.rr-body body.rr-body h3,.rr-body body.rr-body h3,.rr-body h3,.rr-heading-3,body.rr-body .rr-body .rr-body h3,body.rr-body .rr-body .rr-heading-3,body.rr-body .rr-body body.rr-body h3,body.rr-body .rr-body h3,body.rr-body .rr-heading-3,body.rr-body body.rr-body h3,body.rr-body h3 {
        font-size:2.375rem
    }
}

.rr-body .rr-body h4,.rr-body .rr-heading-4,.rr-body body.rr-body .rr-body h4,.rr-body body.rr-body .rr-heading-4,.rr-body body.rr-body body.rr-body h4,.rr-body body.rr-body h4,.rr-body h4,.rr-heading-4,body.rr-body .rr-body .rr-body h4,body.rr-body .rr-body .rr-heading-4,body.rr-body .rr-body body.rr-body h4,body.rr-body .rr-body h4,body.rr-body .rr-heading-4,body.rr-body body.rr-body h4,body.rr-body h4 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1.2;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 2rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-body h4,.rr-body .rr-heading-4,.rr-body body.rr-body .rr-body h4,.rr-body body.rr-body .rr-heading-4,.rr-body body.rr-body body.rr-body h4,.rr-body body.rr-body h4,.rr-body h4,.rr-heading-4,body.rr-body .rr-body .rr-body h4,body.rr-body .rr-body .rr-heading-4,body.rr-body .rr-body body.rr-body h4,body.rr-body .rr-body h4,body.rr-body .rr-heading-4,body.rr-body body.rr-body h4,body.rr-body h4 {
        font-size:1.75rem
    }
}

.rr-body .rr-body h5,.rr-body .rr-heading-5,.rr-body body.rr-body .rr-body h5,.rr-body body.rr-body .rr-heading-5,.rr-body body.rr-body body.rr-body h5,.rr-body body.rr-body h5,.rr-body h5,.rr-heading-5,body.rr-body .rr-body .rr-body h5,body.rr-body .rr-body .rr-heading-5,body.rr-body .rr-body body.rr-body h5,body.rr-body .rr-body h5,body.rr-body .rr-heading-5,body.rr-body body.rr-body h5,body.rr-body h5 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1.2;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.667rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-body h5,.rr-body .rr-heading-5,.rr-body body.rr-body .rr-body h5,.rr-body body.rr-body .rr-heading-5,.rr-body body.rr-body body.rr-body h5,.rr-body body.rr-body h5,.rr-body h5,.rr-heading-5,body.rr-body .rr-body .rr-body h5,body.rr-body .rr-body .rr-heading-5,body.rr-body .rr-body body.rr-body h5,body.rr-body .rr-body h5,body.rr-body .rr-heading-5,body.rr-body body.rr-body h5,body.rr-body h5 {
        font-size:1.5rem
    }
}

.rr-body .rr-body h6,.rr-body .rr-heading-6,.rr-body body.rr-body .rr-body h6,.rr-body body.rr-body .rr-heading-6,.rr-body body.rr-body body.rr-body h6,.rr-body body.rr-body h6,.rr-body h6,.rr-heading-6,body.rr-body .rr-body .rr-body h6,body.rr-body .rr-body .rr-heading-6,body.rr-body .rr-body body.rr-body h6,body.rr-body .rr-body h6,body.rr-body .rr-heading-6,body.rr-body body.rr-body h6,body.rr-body h6 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1.2;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-body h6,.rr-body .rr-heading-6,.rr-body body.rr-body .rr-body h6,.rr-body body.rr-body .rr-heading-6,.rr-body body.rr-body body.rr-body h6,.rr-body body.rr-body h6,.rr-body h6,.rr-heading-6,body.rr-body .rr-body .rr-body h6,body.rr-body .rr-body .rr-heading-6,body.rr-body .rr-body body.rr-body h6,body.rr-body .rr-body h6,body.rr-body .rr-heading-6,body.rr-body body.rr-body h6,body.rr-body h6 {
        font-size:1.25rem
    }
}

.rr-body .rr-body h7,.rr-body .rr-heading-7,.rr-body body.rr-body .rr-body h7,.rr-body body.rr-body .rr-heading-7,.rr-body body.rr-body body.rr-body h7,.rr-body body.rr-body h7,.rr-body h7,.rr-heading-7,body.rr-body .rr-body .rr-body h7,body.rr-body .rr-body .rr-heading-7,body.rr-body .rr-body body.rr-body h7,body.rr-body .rr-body h7,body.rr-body .rr-heading-7,body.rr-body body.rr-body h7,body.rr-body h7 {
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    display: block;
    font-size: 1.667rem
}

@media (min-width: 768px) {
    .rr-body .rr-body h7,.rr-body .rr-heading-7,.rr-body body.rr-body .rr-body h7,.rr-body body.rr-body .rr-heading-7,.rr-body body.rr-body body.rr-body h7,.rr-body body.rr-body h7,.rr-body h7,.rr-heading-7,body.rr-body .rr-body .rr-body h7,body.rr-body .rr-body .rr-heading-7,body.rr-body .rr-body body.rr-body h7,body.rr-body .rr-body h7,body.rr-body .rr-heading-7,body.rr-body body.rr-body h7,body.rr-body h7 {
        font-size:1.5rem
    }
}

.rr-body .rr-body h8,.rr-body .rr-heading-8,.rr-body body.rr-body .rr-body h8,.rr-body body.rr-body .rr-heading-8,.rr-body body.rr-body body.rr-body h8,.rr-body body.rr-body h8,.rr-body h8,.rr-heading-8,body.rr-body .rr-body .rr-body h8,body.rr-body .rr-body .rr-heading-8,body.rr-body .rr-body body.rr-body h8,body.rr-body .rr-body h8,body.rr-body .rr-heading-8,body.rr-body body.rr-body h8,body.rr-body h8 {
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    display: block;
    font-size: 1.5rem
}

@media (min-width: 768px) {
    .rr-body .rr-body h8,.rr-body .rr-heading-8,.rr-body body.rr-body .rr-body h8,.rr-body body.rr-body .rr-heading-8,.rr-body body.rr-body body.rr-body h8,.rr-body body.rr-body h8,.rr-body h8,.rr-heading-8,body.rr-body .rr-body .rr-body h8,body.rr-body .rr-body .rr-heading-8,body.rr-body .rr-body body.rr-body h8,body.rr-body .rr-body h8,body.rr-body .rr-heading-8,body.rr-body body.rr-body h8,body.rr-body h8 {
        font-size:1.125rem
    }
}

.rr-small-text {
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.2;
    font-size: 1.167rem
}

@media (min-width: 768px) {
    .rr-small-text {
        font-size:.875rem
    }
}

.rr-body-text {
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.333rem;
    line-height: 1.5;
    font-weight: 400
}

@media (min-width: 768px) {
    .rr-body-text {
        font-size:1rem
    }
}

.rr-body .rr-light-text,.rr-light-text {
    color: #fff
}

.rr-body .rr-dark-text,.rr-dark-text {
    color: #393939
}

.title-styling {
    color: #000;
    font-weight: 400;
    margin: 0
}

.rr-body .rr-title-1,.rr-body body.rr-body .rr-title-1,.rr-title-1,body.rr-body .rr-body .rr-title-1,body.rr-body .rr-title-1 {
    margin: 0;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    font-size: 2.667rem;
    font-weight: 400;
    color: #000;
    line-height: 1
}

@media (min-width: 768px) {
    .rr-body .rr-title-1,.rr-body body.rr-body .rr-title-1,.rr-title-1,body.rr-body .rr-body .rr-title-1,body.rr-body .rr-title-1 {
        font-size:3rem
    }
}

.rr-body .rr-title-2,.rr-body body.rr-body .rr-title-2,.rr-title-2,body.rr-body .rr-body .rr-title-2,body.rr-body .rr-title-2 {
    margin: 0;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    font-size: 2.333rem;
    font-weight: 400;
    color: #000;
    line-height: 1.2
}

@media (min-width: 768px) {
    .rr-body .rr-title-2,.rr-body body.rr-body .rr-title-2,.rr-title-2,body.rr-body .rr-body .rr-title-2,body.rr-body .rr-title-2 {
        font-size:2.5rem
    }
}

.rr-body .rr-title-3,.rr-body body.rr-body .rr-title-3,.rr-title-3,body.rr-body .rr-body .rr-title-3,body.rr-body .rr-title-3 {
    margin: 0;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    font-size: 2.167rem;
    font-weight: 400;
    color: #000;
    line-height: 1.2
}

@media (min-width: 768px) {
    .rr-body .rr-title-3,.rr-body body.rr-body .rr-title-3,.rr-title-3,body.rr-body .rr-body .rr-title-3,body.rr-body .rr-title-3 {
        font-size:2.375rem
    }
}

.rr-body .rr-title-4,.rr-body body.rr-body .rr-title-4,.rr-title-4,body.rr-body .rr-body .rr-title-4,body.rr-body .rr-title-4 {
    margin: 0;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #000;
    line-height: 1.2
}

@media (min-width: 768px) {
    .rr-body .rr-title-4,.rr-body body.rr-body .rr-title-4,.rr-title-4,body.rr-body .rr-body .rr-title-4,body.rr-body .rr-title-4 {
        font-size:1.75rem
    }
}

.rr-body .rr-title-5,.rr-body body.rr-body .rr-title-5,.rr-title-5,body.rr-body .rr-body .rr-title-5,body.rr-body .rr-title-5 {
    margin: 0;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    font-size: 1.667rem;
    font-weight: 400;
    color: #000;
    line-height: 1.2
}

@media (min-width: 768px) {
    .rr-body .rr-title-5,.rr-body body.rr-body .rr-title-5,.rr-title-5,body.rr-body .rr-body .rr-title-5,body.rr-body .rr-title-5 {
        font-size:1.5rem
    }
}

.rr-body .rr-title-6,.rr-body body.rr-body .rr-title-6,.rr-title-6,body.rr-body .rr-body .rr-title-6,body.rr-body .rr-title-6 {
    margin: 0;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    line-height: 1.2
}

@media (min-width: 768px) {
    .rr-body .rr-title-6,.rr-body body.rr-body .rr-title-6,.rr-title-6,body.rr-body .rr-body .rr-title-6,body.rr-body .rr-title-6 {
        font-size:1.25rem
    }
}

.rr-body body,body.rr-body body {
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.375rem
}

.rr-body h2,body.rr-body h2 {
    border: none
}

.rr-body small,body.rr-body small {
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.2;
    font-size: 1.167rem
}

@media (min-width: 768px) {
    .rr-body small,body.rr-body small {
        font-size:.875rem
    }
}

@media (min-width: 768px) {
    .rr-body,body.rr-body {
        font-size:16px!important
    }

    .rr-body h2,body.rr-body h2 {
        border: none
    }
}

.rr-body li,.rr-body p,body.rr-body li,body.rr-body p {
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.333rem;
    line-height: 1.5;
    font-weight: 400
}

@media (min-width: 768px) {
    .rr-body li,.rr-body p,body.rr-body li,body.rr-body p {
        font-size:1rem
    }
}

.rr-body .rr-wysiwyg-standard-header-downgrade h1,.rr-wysiwyg-standard-header-downgrade h1 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1.2;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 2.167rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-wysiwyg-standard-header-downgrade h1,.rr-wysiwyg-standard-header-downgrade h1 {
        font-size:2.375rem
    }
}

.rr-body .rr-wysiwyg-standard-header-downgrade h2,.rr-wysiwyg-standard-header-downgrade h2 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1.2;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 2rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-wysiwyg-standard-header-downgrade h2,.rr-wysiwyg-standard-header-downgrade h2 {
        font-size:1.75rem
    }
}

.rr-body .rr-wysiwyg-standard-header-downgrade h3,.rr-wysiwyg-standard-header-downgrade h3 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1.2;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.667rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-wysiwyg-standard-header-downgrade h3,.rr-wysiwyg-standard-header-downgrade h3 {
        font-size:1.5rem
    }
}

.rr-body .rr-wysiwyg-standard-header-downgrade h4,.rr-wysiwyg-standard-header-downgrade h4 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1.2;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-wysiwyg-standard-header-downgrade h4,.rr-wysiwyg-standard-header-downgrade h4 {
        font-size:1.25rem
    }
}

.rr-body .rr-wysiwyg-standard-header-downgrade h5,.rr-wysiwyg-standard-header-downgrade h5 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1.2;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-wysiwyg-standard-header-downgrade h5,.rr-wysiwyg-standard-header-downgrade h5 {
        font-size:1.25rem
    }
}

.rr-body .rr-wysiwyg-standard-header-downgrade h6,.rr-wysiwyg-standard-header-downgrade h6 {
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    line-height: 1.2;
    color: #393939;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5rem;
    color: #2d397d
}

@media (min-width: 768px) {
    .rr-body .rr-wysiwyg-standard-header-downgrade h6,.rr-wysiwyg-standard-header-downgrade h6 {
        font-size:1.25rem
    }
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    line-height: 1
}

.h1,.h1-heading,.heading1,h1 {
    color: #2e449f;
    font-size: 20px;
    margin-bottom: 20px
}

.h1,.h1-heading,.h2,.h2-heading,.heading1,.heading2,h1,h2 {
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 24px
}

.h2,.h2-heading,.heading2,h2 {
    border-top: 1px solid #dbdbdb;
    color: #393939;
    font-size: 18px;
    margin-bottom: 12px;
    padding-top: 12px
}

p+.h2,p+.heading2,p+h2,ul+.h2,ul+.heading2,ul+h2 {
    margin-top: 36px
}

.h3,.h4,.h5,.h6,.heading3,.heading4,.heading5,.heading6,h3,h4,h5,h6 {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 0
}

li,p {
    color: #4e4e4e;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 16px
}

ol,ul {
    margin-bottom: 4px;
    margin-top: 0;
    padding-left: 24px
}

li {
    margin-bottom: 12px
}

hr {
    border-color: #dbdbdb
}

a {
    color: #3c5aaf;
    outline: none
}

a:focus,a:hover {
    color: #2e449f;
    outline: none
}

a:active {
    color: #d52d37;
    outline: none
}

.no-border {
    border: none!important
}

h2.underline {
    border-top: none;
    padding-top: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #dbdbdb
}

body {
    position: relative
}

#dim-background {
    background-color: rgba(0,0,0,.4);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 150
}

header,header * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

header .custom-row {
    display: block;
    float: none;
    margin: auto;
    -webkit-transition: height .25s;
    transition: height .25s
}

.call-phone-number {
    color: #fff;
    white-space: nowrap;
    font-size: 2rem
}

@media (min-width: 768px) {
    .call-phone-number {
        font-size:1.5rem
    }
}

.call-phone-number:before {
    padding-top: .25rem;
    margin-right: .5rem
}

.call-phone-number div,.call-phone-number span {
    text-decoration: underline;
    font-weight: 700
}

.call-phone-number svg {
    width: 36px;
    height: 36px;
    fill: #fff;
    vertical-align: middle
}

.header-custom {
    background-color: #506bb7;
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    height: auto;
    left: 0;
    line-height: 1.5;
    min-width: 48rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000
}

@media (max-width: 767px) {
    .header-custom {
        display:none!important
    }
}

.header-custom:before {
    background: #2d397d none repeat scroll 0 0;
    content: "";
    height: 2rem;
    left: 50%;
    position: absolute;
    top: 0;
    -webkit-transition: top .25s;
    transition: top .25s;
    width: 50%
}

.header-custom__phone-number {
    font-size: 1.75rem;
    text-decoration: underline;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-flex;
    -js-display: inline-flex;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff!important
}

.header-custom__phone-number:before {
    content: "\E0CF";
    font-size: 125%;
    position: relative
}

.header-custom .custom-row {
    height: 6rem
}

.header-custom .custom-row .custom-nav {
    height: 6rem;
    padding-left: 0;
    text-align: right;
    -webkit-transition: height .25s;
    transition: height .25s;
    width: 100%
}

@media (min-width: 1128px) {
    .header-custom .custom-row .custom-nav {
        padding-left:25.5rem
    }
}

.header-custom .rr-logo {
    height: 3rem;
    left: .75rem;
    position: absolute;
    top: 0;
    width: 17rem;
    z-index: 1;
    -webkit-transition: height .25s,width .25s;
    transition: height .25s,width .25s
}

.header-custom .rr-logo>img.wr-logo {
    width: 100%;
    margin-top: .5rem;
    margin-left: .5rem
}

.header-custom .rr-logo .svg,.header-custom .rr-logo>svg {
    bottom: 0;
    display: block;
    height: auto;
    margin: auto;
    position: absolute;
    top: -.125rem;
    max-width: 24rem
}

.header-custom .rr-logo .svg .hide-on-sticky,.header-custom .rr-logo>svg .hide-on-sticky {
    display: none
}

@media (min-width: 767px) and (max-width:1280px) {
    .header-custom .rr-logo .wr-logo {
        width:85%
    }
}

@media (min-width: 1128px) {
    .header-custom .rr-logo {
        height:6rem;
        left: .9rem;
        width: 27rem
    }

    .header-custom .rr-logo .svg,.header-custom .rr-logo>svg {
        left: 1rem;
        top: -.125rem
    }

    .header-custom .rr-logo .svg .hide-on-sticky,.header-custom .rr-logo>svg .hide-on-sticky {
        display: block
    }
}

@media (max-width: 1128px) {
    .header-custom .rr-logo .rr-plumbing-logo-new {
        width:13rem
    }
}

.header-custom.sticky:before {
    top: -2rem
}

.header-custom.sticky .rr-logo {
    left: .75rem;
    top: 0;
    overflow: hidden;
    width: 11rem
}

.header-custom.sticky .rr-logo>img.wr-logo {
    width: 100%;
    margin-top: 0;
    margin-left: 0
}

.header-custom.sticky .rr-logo .svg,.header-custom.sticky .rr-logo svg {
    bottom: 0;
    top: .25rem;
    width: 11rem
}

.header-custom.sticky .rr-logo .svg .hide-on-sticky,.header-custom.sticky .rr-logo svg .hide-on-sticky {
    display: none
}

@media (min-width: 1128px) {
    .header-custom.sticky .rr-logo {
        height:3rem;
        left: 1.75rem;
        overflow: hidden;
        width: 15.5rem
    }

    .header-custom.sticky .rr-logo .svg,.header-custom.sticky .rr-logo svg {
        bottom: auto;
        top: 0;
        width: 90%;
        height: 3rem
    }
}

.header-custom.sticky .custom-row {
    height: 3rem
}

.header-custom.sticky .custom-row .custom-nav {
    height: 3rem;
    padding-left: 23%
}

.header-custom.sticky .custom-row .custom-nav .main-nav,.header-custom.sticky .custom-row .custom-nav .top-nav {
    top: -2rem
}

@media (min-width: 1128px) {
    .header-custom.sticky .custom-row .custom-nav .main-nav>ul {
        padding-left:50px
    }
}

.header-custom.sticky .custom-row .custom-nav .main-nav>ul>li {
    height: 3rem;
    min-width: 55px
}

.header-custom.sticky .custom-row .custom-nav .main-nav>ul>li>a {
    font-size: 1rem;
    padding-left: .125rem;
    padding-right: .125rem
}

.header-custom.sticky .custom-row .custom-nav .main-nav>ul>li>a>span br {
    display: none!important
}

.header-custom.sticky .custom-row .custom-nav .main-nav>ul>li.drop-down-tab>a {
    padding-right: .25rem
}

.header-custom.sticky .custom-row .custom-nav .main-nav>ul>li .nav-drop-down {
    top: 3rem
}

@media (min-width: 1024px) {
    .header-custom.sticky .custom-row .custom-nav {
        padding-left:18%
    }

    .header-custom.sticky .custom-row .custom-nav .main-nav>ul>li.drop-down-tab {
        left: -.25rem
    }
}

@media (min-width: 1128px) {
    .header-custom.sticky .custom-row .custom-nav .main-nav>ul>li>a {
        padding-left:.5rem;
        padding-right: .75rem
    }

    .header-custom.sticky .custom-row .custom-nav .main-nav>ul>li.drop-down-tab {
        left: 0
    }

    .header-custom.sticky .custom-row .custom-nav .main-nav>ul>li.drop-down-tab>a {
        padding-right: .75rem
    }
}

.top-nav {
    background: #2d397d;
    background: -webkit-gradient(linear,left bottom,right bottom,color-stop(0,#506bb7),color-stop(.5,#2d397d));
    background: -webkit-gradient(linear,left top,right top,from(#506bb7),color-stop(50%,#2d397d));
    background: -webkit-linear-gradient(left,#506bb7,#2d397d 50%);
    background: linear-gradient(90deg,#506bb7 0,#2d397d 50%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#506bb7",endColorstr="#2d397d",GradientType=1);
    height: 2rem;
    margin-left: 35%;
    text-align: right;
    position: relative;
    top: 0;
    -webkit-transition: top .25s;
    transition: top .25s;
    width: 65%
}

@media (min-width: 1128px) {
    .top-nav {
        margin-left:0;
        width: auto
    }
}

.top-nav a {
    font-size: .75rem;
    line-height: 1.5;
    padding-left: .75rem;
    padding-right: .75rem;
    position: relative
}

.top-nav a,.top-nav a:hover {
    color: #d5d7e5
}

.top-nav a:after {
    color: #8188b1;
    content: "|";
    left: auto;
    position: absolute;
    right: -.25rem;
    top: 0
}

.top-nav a:last-child:after {
    content: none
}
@media (min-width: 1128px)
    .header-custom .rr-logo {
        height: 6rem;
        left: .9rem;
        width: 27rem;
    }

.header-custom .rr-logo .svg, .header-custom .rr-logo>svg {
    bottom: 0;
    display: block;
    height: auto;
    margin: auto;
    position: absolute;
    top: -.125rem;
    max-width: 24rem;
}
.header-custom:before {
    background: #2d397d none repeat scroll 0 0;
    content: "";
    height: 2rem;
    left: 50%;
    position: absolute;
    top: 0;
    -webkit-transition: top .25s;
    transition: top .25s;
    width: 50%;
}

.main-nav {
    position: relative;
    width: 100%;
    z-index: 200;
    top: 0;
    -webkit-transition: top .25s;
    transition: top .25s
}

.main-nav .call-phone-number {
    margin-left: .5rem;
    margin-right: .5rem;
    padding-bottom: .25rem
}

.main-nav-list {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: right
}

.main-nav-list,.main-nav-list .drop-down-tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex
}

.main-nav-list .drop-down-tab {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.main-nav-list .drop-down-tab.drop-down-tab--right-align {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.main-nav-list .drop-down-tab.drop-down-tab--right-align .nav-drop-down ul li {
    display: inline-block
}

@media (min-width: 1128px) {
    .main-nav-list .drop-down-tab.drop-down-tab--right-align {
        -webkit-box-align:center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.main-nav-list>li {
    height: 4rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: height .25s;
    transition: height .25s
}

.main-nav-list>li,.main-nav-list>li>a {
    line-height: 1;
    position: relative;
    text-align: center
}

.main-nav-list>li>a {
    border-bottom: .375rem solid #506bb7;
    color: #d8deef;
    display: table;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    font-size: 1.125rem;
    height: 100%;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .375rem;
    text-decoration: none;
    text-transform: capitalize
}

.main-nav-list>li>a>span {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    position: relative
}

.main-nav-list>li>a:active,.main-nav-list>li>a:hover {
    background: transparent;
    border-bottom: .375rem solid transparent;
    color: #fff;
    z-index: 500
}

.main-nav-list>li.current>a {
    border-bottom: .375rem solid #b1bddf;
    color: #fff
}

.main-nav-list>li.drop-down-tab>a>span>svg {
    position: absolute;
    right: -17px;
    bottom: 17px;
    width: 1rem;
    height: 1.25rem
}

.main-nav-list>li.drop-down-tab>a>span>svg.doubleLine {
    right: -7px;
    bottom: 7px
}

.main-nav-list>li.drop-down-tab>a:active,.main-nav-list>li.drop-down-tab>a:hover {
    background: #fff;
    border-bottom: .375rem solid #fff;
    color: #2d397d;
    z-index: 500
}

.main-nav-list>li.drop-down-tab>a:active>span:after,.main-nav-list>li.drop-down-tab>a:hover>span:after {
    content: none
}

.main-nav-list>li.active>a {
    background: #fff;
    border-bottom: .375rem solid #fff;
    color: #2d397d;
    z-index: 500
}

.main-nav-list>li.active>a>span:after {
    content: none
}

.main-nav-list>li.active .nav-drop-down {
    display: block
}

.sticky .main-nav-list>.drop-down-tab>a>span .doubleLine,.sticky .main-nav-list>.drop-down-tab>a>span>svg {
    right: -17px;
    bottom: 7px
}

.nav-drop-down {
    color: #3c5aaf;
    background-color: #fff;
    -webkit-box-shadow: 0 0 .75rem rgba(0,0,0,.5);
    box-shadow: 0 0 .75rem rgba(0,0,0,.5);
    display: none;
    position: absolute;
    text-align: left;
    top: 4rem;
    z-index: 450;
    overflow: auto;
    height: auto
}

.nav-drop-down .has-sub-nav {
    position: relative
}

.nav-drop-down .has-sub-nav svg {
    position: absolute
}

.nav-drop-down .has-sub-nav svg path:first-child {
    fill: #4c5c8a
}

.nav-drop-down .nav-drop-down__flat-list {
    width: auto;
    -webkit-column-gap: 0;
    column-gap: 0;
    margin: 0;
    padding: 1.5rem 2rem 2rem
}

.nav-drop-down ul.nav-drop-down__flat-list.service-singles li {
    margin-top: 0;
    margin-bottom: 0
}

.nav-drop-down.residential-tab {
    width: 43rem;
    margin-left: 3rem
}

.nav-drop-down.residential-tab>ul {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0;
    column-gap: 0;
    padding: 15px 0!important
}

.nav-drop-down.residential-tab>ul+ul {
    -webkit-column-count: 1;
    column-count: 1
}

@media (min-width: 1174px) {
    .nav-drop-down.residential-tab {
        margin-left:0;
        width: 43rem
    }
}

.nav-drop-down.commercial-tab {
    margin-left: 3rem;
    width: 38rem
}

@media (min-width: 1174px) {
    .nav-drop-down.commercial-tab {
        margin-left:0;
        width: 38rem
    }
}

.nav-drop-down.how-to-tab {
    right: 0;
    position: absolute;
    text-align: left
}

.nav-drop-down.products-tab {
    left: auto;
    margin-left: 0;
    right: 0;
    width: 20rem
}

.nav-drop-down .emergency-phone {
    color: #606692;
    background-color: #eee;
    display: block;
    font-size: 1rem;
    height: 3.5rem;
    line-height: 2.5;
    padding-top: .375rem;
    padding-left: 32px;
    padding-right: 32px;
    text-decoration: none;
    width: 100%;
    position: relative;
    text-transform: uppercase
}

.nav-drop-down .emergency-phone span {
    left: 0
}

.nav-drop-down .emergency-phone strong {
    color: #606692;
    font-size: 1.125rem;
    line-height: 1.33333;
    right: 32px;
    position: absolute;
    top: 13px
}

.nav-drop-down ul {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 15px 0
}

.nav-drop-down ul>li {
    margin: 0;
    padding: 0;
    display: block
}

.nav-drop-down ul.service-singles>li {
    display: block
}

.nav-drop-down ul.service-singles>li a {
    color: #4c5c8a;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.33333;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    display: block;
    padding: .8rem 32px
}

.nav-drop-down ul.service-singles>li a:hover {
    background: #6980aa;
    color: #fff
}

.nav-drop-down.change-sub-nav ul:first-of-type {
    background-color: #fff
}

.nav-drop-down.commercial-tab ul:first-of-type,.nav-drop-down.residential-tab ul:first-of-type {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%
}

.nav-drop-down.commercial-tab ul:first-of-type.nav-drop-down__flat-list,.nav-drop-down.residential-tab ul:first-of-type.nav-drop-down__flat-list {
    margin: 0
}

.nav-drop-down.commercial-tab ul:first-of-type li,.nav-drop-down.residential-tab ul:first-of-type li {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    padding: 0
}

.nav-drop-down.commercial-tab ul:first-of-type li a,.nav-drop-down.residential-tab ul:first-of-type li a {
    color: #4c5c8a;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.33333;
    text-decoration: none;
    text-transform: uppercase;
    padding: .8rem 32px;
    display: block;
    background-color: #fff
}

.nav-drop-down.commercial-tab ul:first-of-type li a.subnav-hover,.nav-drop-down.commercial-tab ul:first-of-type li a:hover,.nav-drop-down.residential-tab ul:first-of-type li a.subnav-hover,.nav-drop-down.residential-tab ul:first-of-type li a:hover {
    color: #fff;
    background-color: #6980aa
}

.nav-drop-down.commercial-tab ul:first-of-type li a.subnav-hover svg path:first-child,.nav-drop-down.commercial-tab ul:first-of-type li a:hover svg path:first-child,.nav-drop-down.residential-tab ul:first-of-type li a.subnav-hover svg path:first-child,.nav-drop-down.residential-tab ul:first-of-type li a:hover svg path:first-child {
    fill: #fff
}

.nav-drop-down.commercial-tab .hide-sub-nav,.nav-drop-down.residential-tab .hide-sub-nav {
    display: none;
    padding: 0 0 1rem
}

.nav-drop-down.commercial-tab .hide-sub-nav li,.nav-drop-down.residential-tab .hide-sub-nav li {
    color: #fff;
    margin: 0;
    width: 100%
}

.nav-drop-down.commercial-tab .hide-sub-nav li a,.nav-drop-down.residential-tab .hide-sub-nav li a {
    color: #fff
}

.nav-drop-down.commercial-tab .hide-sub-nav li:last-child,.nav-drop-down.residential-tab .hide-sub-nav li:last-child {
    margin-bottom: 15px
}

.nav-drop-down.commercial-tab .show-sub-nav,.nav-drop-down.residential-tab .show-sub-nav {
    display: inline-block!important;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background: #6980aa;
    height: 100%
}

.nav-drop-down.commercial-tab .show-sub-nav a,.nav-drop-down.residential-tab .show-sub-nav a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    padding: .8rem 32px;
    line-height: 1.33333
}

.nav-drop-down.residential-tab.emergShow .show-sub-nav {
    padding: 0;
    top: 56px;
    height: 449px
}

.header-fylp-btn {
    background: #506bb7;
    color: #fff;
    bottom: auto;
    height: 2.5rem;
    left: auto;
    margin: .25rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.5rem
}

.sub-header-custom {
    font-size: 1rem;
    height: 5rem;
    top: 6rem;
    opacity: 1;
    visibility: visible;
    left: 0;
    line-height: 1.5;
    min-width: 48rem;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 9999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (max-width: 767px) {
    .sub-header-custom {
        display:none!important
    }
}

.sub-header-custom:after,.sub-header-custom:before {
    background-color: #b1bddf;
    content: "";
    height: 4.5rem;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: auto
}

.sub-header-custom:after {
    background: transparent;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,.2)),color-stop(1,transparent));
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.2)),to(transparent));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.2),transparent);
    background: linear-gradient(180deg,rgba(0,0,0,.2) 0,transparent);
    content: none;
    height: .5rem;
    top: auto;
    bottom: 0
}

.sub-header-custom.splash {
    top: 6rem
}

.sub-header-custom.splash,.sub-header-custom.sticky {
    -webkit-transition: top .25s 0ms;
    transition: top .25s 0ms
}

.sub-header-custom.sticky {
    top: 3rem
}

.sub-header-custom.sticky:after {
    content: ""
}

.sub-header-custom .custom-row {
    height: 4.5rem
}

.sub-header-custom .custom-row #map-marker {
    margin-top: 17px;
    float: left;
    margin-left: .5rem
}

.sub-header-custom .custom-row #map-marker-fylp {
    margin-top: 10px;
    float: left;
    margin-left: .5rem
}

@media (max-width: 911px) {
    .sub-header-custom .custom-row #map-marker-fylp {
        display:none
    }
}

.sub-header-custom .custom-row #header-location {
    line-height: 4rem;
    display: inline-block;
    float: left;
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none
}

.sub-header-custom .custom-row #header-location:hover {
    text-decoration: underline!important
}

.sub-header-custom .custom-row .header-fylp-text {
    line-height: 3rem;
    display: block;
    float: left;
    position: relative;
    font-size: 1.5rem;
    color: #fff
}

.sub-header-custom .custom-row .header-fylp-text.wr-fylp-text {
    font-size: 1.3125rem;
    line-height: 1;
    padding-right: .25rem;
    top: .125rem
}

@media (max-width: 911px) {
    .sub-header-custom .custom-row .header-fylp-text {
        display:none
    }
}

.sub-header-custom .custom-row #header-location-change {
    display: inline-block;
    float: left;
    line-height: 4.25rem;
    position: relative;
    font-size: 1rem;
    margin-left: .5rem;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif
}

.sub-header-custom .custom-row #header-location-change,.sub-header-custom .custom-row #header-location-change:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: #3c5aaf
}

.sub-header-custom .custom-row .reviews {
    line-height: 4rem;
    margin-left: 1rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
    vertical-align: baseline
}

.sub-header-custom .custom-row .reviews .star-ratings {
    font-size: 1.2rem
}

.sub-header-custom .custom-row .reviews .star-ratings>i {
    text-shadow: -1px 0 #b88c3e,0 1px #b88c3e,1px 0 #b88c3e,0 -1px #b88c3e;
    position: relative;
    top: .2rem
}

.sub-header-custom .custom-row .reviews-count {
    color: #3c5aaf;
    font-size: .9rem;
    line-height: 4rem
}

.sub-header-custom .custom-row .header-fylp-wrapper {
    float: left;
    height: 3rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: .75rem;
    position: relative
}

.sub-header-custom .custom-row .header-fylp-wrapper .google-ul {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    position: relative;
    z-index: 1;
    display: block;
    clear: both;
    width: 18rem;
    max-height: 400px;
    overflow-y: scroll;
    padding: 0;
    margin-left: 18.8rem;
    background-color: #fff
}

@media (max-width: 911px) {
    .sub-header-custom .custom-row .header-fylp-wrapper .google-ul {
        position:absolute;
        top: 3rem;
        left: -18.5rem;
        width: 18rem
    }
}

.sub-header-custom .custom-row .header-fylp-wrapper .google-ul:hover {
    background-color: #fff
}

.sub-header-custom .custom-row .header-fylp-wrapper .google-ul:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 16px;
    text-align: right;
    display: block;
    background-image: url(/powered_by_google_on_white.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 120px 14px
}

.sub-header-custom .custom-row .header-fylp-wrapper .google-ul.no-after:after {
    content: none!important
}

.sub-header-custom .custom-row .header-fylp-wrapper .google-ul-residential {
    margin-left: 19.8rem
}

.sub-header-custom .custom-row .header-fylp-wrapper .google-ul-water-damage-restoration {
    margin-left: 15.6rem
}

.sub-header-custom .custom-row .header-fylp-wrapper .google-li {
    background-color: #fff;
    font-size: 16px!important;
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.42857143;
    color: #666;
    white-space: nowrap;
    display: block;
    padding: 3px 20px;
    margin: .5rem 0;
    text-align: left
}

.sub-header-custom .custom-row .header-fylp-wrapper .google-li-selected {
    background-color: #0081c2;
    color: #fff
}

.sub-header-custom .custom-row .header-fylp-wrapper .header-fylp {
    background-color: #fff;
    border: 2px solid #9eadd7;
    border-radius: .25rem;
    color: #2a2a2a;
    display: block;
    font-size: 1.1rem;
    height: 3rem;
    line-height: 1.5;
    margin: 0 0 0 5px;
    padding: 1px 1px .25rem .75rem;
    position: relative;
    width: 18rem;
    float: left
}

.sub-header-custom .custom-row .header-fylp-wrapper .header-fylp::-webkit-input-placeholder {
    color: #637bbf;
    font-size: 1rem;
    line-height: 1.625;
    opacity: 1
}

.sub-header-custom .custom-row .header-fylp-wrapper .header-fylp:-moz-placeholder,.sub-header-custom .custom-row .header-fylp-wrapper .header-fylp::-moz-placeholder {
    color: #637bbf;
    font-size: 1rem;
    line-height: 2.375;
    opacity: 1
}

.sub-header-custom .custom-row .header-fylp-wrapper .header-fylp:-ms-input-placeholder {
    color: #637bbf;
    font-size: 1rem;
    line-height: 2.375;
    opacity: 1
}

.sub-header-custom .custom-row .header-fylp-wrapper .header-fylp-btn {
    font-size: 2.25rem;
    line-height: 1.125
}

.sub-header-custom .custom-row .desktop-header-phone {
    color: #d52d37;
    float: right;
    font-size: 1.375rem;
    height: 3rem;
    line-height: 1.75;
    margin-top: .75rem;
    padding-right: .75rem;
    position: relative
}

.sub-header-custom .custom-row .desktop-header-phone>strong {
    font-size: 1.5rem
}

.sub-header-custom .custom-row .desktop-header-phone>strong a,.sub-header-custom .custom-row .desktop-header-phone>strong a:active,.sub-header-custom .custom-row .desktop-header-phone>strong a:hover,.sub-header-custom .custom-row .desktop-header-phone>strong a:link {
    color: #d52d37
}

.sub-header-custom .custom-row .desktop-header-phone-3 {
    color: #d52d37;
    float: right;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 1.75;
    margin-top: .75rem;
    padding-right: .75rem;
    position: relative
}

@media (min-width: 768px) and (max-width:836px) {
    .sub-header-custom .custom-row .desktop-header-phone-3>.call-now-text {
        display:none
    }
}

.sub-header-custom .custom-row .desktop-header-phone-3>strong {
    font-size: 1.7rem;
    display: inline-block
}

.sub-header-custom .custom-row .desktop-header-phone-3>.secondary-phones {
    display: inline-block;
    position: relative;
    top: .1rem
}

.sub-header-custom .custom-row .desktop-header-phone-3>.secondary-phones>.phone2,.sub-header-custom .custom-row .desktop-header-phone-3>.secondary-phones>.phone3 {
    font-size: .9rem;
    line-height: .9rem;
    display: block
}

#career-sub-header .custom-row .desktop-header-phone {
    text-align: right;
    line-height: 1.1;
    margin-top: .6rem;
    font-size: 1.2rem
}

#career-sub-header .custom-row .desktop-header-phone span {
    font-size: 18px
}

ul.typeahead.dropdown-menu {
    text-align: left;
    max-height: 400px;
    overflow-y: scroll
}

ul.typeahead.dropdown-menu.active {
    background-color: #fff;
    border-color: #fff
}

ul.typeahead.dropdown-menu li {
    font-size: 16px!important;
    font-family: acumin-pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.42857143;
    color: #666;
    white-space: nowrap;
    display: block;
    padding: 3px 20px
}

ul.typeahead.dropdown-menu li.active,ul.typeahead.dropdown-menu li:hover {
    background-color: #0081c2;
    color: #fff
}

ul.typeahead.dropdown-menu li.active>a,ul.typeahead.dropdown-menu li:hover>a {
    background-color: #0081c2
}

.header-custom-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #506bb7;
    z-index: 1000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (max-width: 767px) {
    .header-custom-sticky {
        display:none!important
    }
}

.header-custom-sticky.header-hidden {
    display: none!important
}

.header-custom-sticky .header-wrapper {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
    max-width: 100rem;
    padding-right: .5rem;
    padding-left: .5rem;
    min-height: 2.7rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.header-custom-sticky .header-wrapper .logo {
    width: 25%;
    height: 100%;
    display: inline-block;
    margin-top: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.header-custom-sticky .header-wrapper .logo .svg,.header-custom-sticky .header-wrapper .logo>svg {
    width: 100%
}

@media (min-width: 768px) {
    .header-custom-sticky .header-wrapper .logo .svg,.header-custom-sticky .header-wrapper .logo>svg {
        max-height:2.5rem
    }
}

@media (min-width: 1600px) {
    .header-custom-sticky .header-wrapper .logo .svg,.header-custom-sticky .header-wrapper .logo>svg {
        max-height:2.8rem
    }
}

@media (min-width: 2000px) {
    .header-custom-sticky .header-wrapper .logo .svg,.header-custom-sticky .header-wrapper .logo>svg {
        max-height:4rem
    }
}

.header-custom-sticky .header-wrapper .custom-nav {
    width: 75%;
    float: right;
    display: block;
    text-align: right;
    padding-right: .5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav {
    width: 100%
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>#dim-background {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 5.3rem;
    z-index: 99!important;
    background-color: #000;
    // filter: alpha(opacity=40);
    -khtml-opacity: .4;
    -moz-opacity: .4;
    opacity: .4
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul {
    display: block;
    margin: 0;
    float: right
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li {
    list-style-type: none;
    float: left;
    height: 2.7rem;
    padding-left: .25rem;
    padding-right: .25rem;
    font-size: .6rem;
    line-height: .8rem;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0
}

@media (min-width: 1024px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li {
        font-size:.65rem;
        line-height: 1rem;
        height: 2.8rem
    }
}

@media (min-width: 1200px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li {
        font-size:.8rem;
        line-height: 1rem;
        height: 2.8rem;
        font-size: .7rem
    }
}

@media (min-width: 2000px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li {
        font-size:1.1rem;
        line-height: 1.2rem;
        height: 4.4rem
    }
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li.drop-down-tab>span:after {
    content: "";
    width: 0;
    height: 0;
    border-top: .2rem solid #fff;
    border-bottom: .2rem solid transparent;
    border-right: .2rem solid transparent;
    border-left: .2rem solid transparent;
    position: relative;
    top: 1.5rem;
    right: -.1rem
}

@media (min-width: 1200px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li.drop-down-tab>span:after {
        top:1.8rem;
        right: -.1rem
    }
}

@media (min-width: 1280px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li.drop-down-tab>span:after {
        top:1.7rem;
        right: -.1rem
    }
}

@media (min-width: 1536px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li.drop-down-tab>span:after {
        top:1.8rem;
        right: -.1rem
    }
}

@media (min-width: 1600px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li.drop-down-tab>span:after {
        top:1.5rem;
        right: -.1rem;
        border-top: .25rem solid #fff;
        border-bottom: .25rem solid transparent;
        border-right: .25rem solid transparent;
        border-left: .25rem solid transparent
    }
}

@media (min-width: 2000px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li.drop-down-tab>span:after {
        top:2.6rem;
        right: -.1rem;
        border-top: .3rem solid #fff;
        border-bottom: .3rem solid transparent;
        border-right: .3rem solid transparent;
        border-left: .3rem solid transparent
    }
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li.drop-down-tab>span:hover:after {
    border-top: .2rem solid #3c5aaf
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li.active,.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li:hover {
    background-color: #fff
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li.active a,.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li:hover a {
    color: #2d397d
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li.active .nav-drop-down,.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li:hover .nav-drop-down {
    display: block
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li.active.drop-down-tab>span:after,.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li:hover.drop-down-tab>span:after {
    border-top: .2rem solid #3c5aaf
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li>span {
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li>span>a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #fff;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    text-decoration: none;
    text-transform: uppercase
}

@media (min-width: 1200px) and (max-width:1599px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li>span>a {
        padding-top:1rem
    }
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down {
    position: absolute;
    z-index: 999;
    list-style: none;
    padding: 1rem 2rem 2rem;
    width: 40rem;
    display: none;
    margin-top: 0;
    background-color: #fff;
    border: none
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.residential-tab {
    left: calc(50% - 20rem);
    top: 2.7rem
}

@media (min-width: 1024px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.residential-tab {
        top:2.8rem
    }
}

@media (min-width: 1536px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.residential-tab {
        left:calc(50% - 16rem)
    }
}

@media (min-width: 2000px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.residential-tab {
        top:4.4rem
    }
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.commercial-tab {
    left: calc(50% - 20rem);
    top: 2.7rem
}

@media (min-width: 1024px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.commercial-tab {
        top:2.8rem
    }
}

@media (min-width: 1536px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.commercial-tab {
        left:calc(50% - 16rem)
    }
}

@media (min-width: 2000px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.commercial-tab {
        top:4.4rem
    }
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.how-to-tab {
    left: calc(50% - 12rem);
    top: 2.7rem
}

@media (min-width: 1024px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.how-to-tab {
        top:2.8rem
    }
}

@media (min-width: 1200px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.how-to-tab {
        left:calc(50% - 10rem)
    }
}

@media (min-width: 1600px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.how-to-tab {
        left:calc(50% - 3rem);
        top: 2.8rem
    }
}

@media (min-width: 2000px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.how-to-tab {
        left:calc(50% + 5rem);
        top: 4.4rem
    }
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.products-tab {
    width: 15rem;
    right: 0;
    top: 2.7rem
}

@media (min-width: 1024px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.products-tab {
        top:2.8rem
    }
}

@media (min-width: 2000px) {
    .header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.products-tab {
        top:4.4rem
    }
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down.products-tab ul {
    width: 100%
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down>.emergency-phone {
    width: 100%;
    text-align: center;
    line-height: 200%;
    background-color: #ebeef7;
    border-radius: .4rem
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down .service-singles {
    display: inline-block;
    width: 30%;
    margin-top: 1rem;
    padding-left: .5rem;
    vertical-align: top
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down .service-singles>ul {
    margin-top: 0;
    width: 100%;
    padding-left: 0
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down ul {
    display: inline-block;
    width: 32%;
    margin-top: 1rem;
    padding-left: .5rem;
    vertical-align: top
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down ul>li {
    display: block;
    width: 100%;
    text-decoration: underline;
    line-height: 100%
}

.header-custom-sticky .header-wrapper .custom-nav .main-nav>ul>li .nav-drop-down ul>li:first-child {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    text-decoration: none
}

.header-custom-sticky .sticky-sub-header {
    height: 3rem;
    width: 100%;
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #b1bddf;
    margin-bottom: -.3rem;
    position: relative;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper {
    margin-right: auto;
    margin-left: auto;
    float: none;
    display: block;
    max-width: 100rem;
    padding-right: .5rem;
    padding-left: .5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper .sticky-header-hidden {
    display: none!important
}

.header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper #header-location,.header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper .header-fylp-text {
    line-height: 3rem;
    display: inline-block;
    float: left;
    position: relative;
    font-size: 1rem;
    color: #fff
}

.header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper .header-fylp-text.wr-fylp-text {
    font-size: 1.3rem;
    line-height: 1.5rem
}

@media (max-width: 900px) {
    .header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper .header-fylp-text {
        display:none
    }
}

.header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper #header-location-change {
    display: inline-block;
    float: left;
    line-height: 3rem;
    position: relative;
    font-size: .8rem;
    margin-left: .5rem;
    font-family: din-condensed-web,DIN Condensed Web,din-condensed,Gnuolane,Impact,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #3c5aaf
}

.header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper #header-location-change:hover {
    color: #3c5aaf;
    text-decoration: none;
    text-transform: uppercase
}

.header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper .header-fylp-wrapper {
    position: relative;
    margin: 0;
    display: inline-block;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper .header-fylp-wrapper .header-fylp {
    height: 2rem;
    width: 14rem;
    position: relative;
    display: inline-block;
    padding: 0;
    padding-left: .5rem;
    margin: .5rem 0 0;
    border-radius: .1rem;
    background-color: #fff;
    color: #4e4e4e;
    font-size: .8rem;
    line-height: 1.4rem;
    border: none
}

.header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper .header-fylp-wrapper .header-fylp-btn {
    display: inline-block;
    font-size: 1.8rem;
    right: -.1rem;
    top: .4rem;
    z-index: 10;
    background: #506bb7;
    margin: .2rem;
    position: absolute;
    color: #fff
}

.header-custom-sticky .sticky-sub-header .sticky-sub-header-wrapper .desktop-header-phone {
    float: right;
    display: inline-block;
    line-height: 3rem;
    position: relative;
    font-size: 1rem;
    color: #d52d37
}

#mobile-header .career-sub-header-mobile#mobile-menu-sub-header #nav-phone-number {
    height: 65px;
    line-height: 26px;
    font-size: 22px
}

#mobile-header .career-sub-header-mobile#mobile-menu-sub-header #nav-phone-number span {
    font-size: 16px
}

#mobile-header .career-sub-header-mobile#mobile-menu-sub-header #nav-phone-number a {
    color: #fff;
    text-decoration: underline
}

#mobile-header .career-sub-header-mobile#mobile-menu-sub-header #nav-phone-number:after {
    background-position: 0 0
}

.hidden {
    display: none!important
}

.custom-zip-modal {
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.hide-sub-header header.sub-header-custom.splash,.hide-sub-header header.sub-header-custom.sticky {
    display: none
}

@media only screen and (min-width: 768px) {
    .hide-sub-header .bootstrap-wrapper {
        padding-top:6rem!important
    }
}

.hide-sub-header #mobile-header .roto-navigation-container#mobile-menu-sub-header {
    display: none
}

@media (max-width: 767px) {
    .hide-sub-header .bootstrap-wrapper {
        padding-top:4.5rem!important
    }
}

.hide-desktop-tablet-sub-header header.sub-header-custom.splash,.hide-desktop-tablet-sub-header header.sub-header-custom.sticky {
    display: none
}

@media only screen and (min-width: 768px) {
    .hide-desktop-tablet-sub-header .bootstrap-wrapper {
        padding-top:6rem!important
    }
}

.hide-mobile-sub-header #mobile-header .roto-navigation-container#mobile-menu-sub-header {
    display: none
}

@media (max-width: 767px) {
    .hide-mobile-sub-header .bootstrap-wrapper {
        padding-top:4.5rem!important
    }
}

@media only screen and (min-width: 768px) {
    .header-custom .custom-row .custom-nav .main-nav>ul>li>a {
        color:#fff
    }

    .header-custom .custom-row .custom-nav .main-nav>ul>li.active>a,.header-custom .custom-row .custom-nav .main-nav>ul>li.drop-down-tab>a:hover,.header-custom .custom-row .custom-nav .main-nav>ul>li.drop-down-tab a:active {
        color: #2d397d
    }

    .hovering .header-custom .custom-row .custom-nav .main-nav>ul>li>a {
        color: #d8deef
    }

    .hovering .header-custom .custom-row .custom-nav .main-nav>ul>li>a:active,.hovering .header-custom .custom-row .custom-nav .main-nav>ul>li>a:hover {
        color: #fff
    }

    .hovering .header-custom .custom-row .custom-nav .main-nav>ul>li.active>a,.hovering .header-custom .custom-row .custom-nav .main-nav>ul>li.drop-down-tab>a:hover,.hovering .header-custom .custom-row .custom-nav .main-nav>ul>li.drop-down-tab a:active {
        color: #2d397d
    }
}


@media (min-width: 1128px)
    .header-custom .custom-row .custom-nav {
        padding-left: 25.5rem;
    }

.header-custom .custom-row .custom-nav {
    height: 6rem;
    padding-left: 0;
    text-align: right;
    -webkit-transition: height .25s;
    transition: height .25s;
    width: 100%;
}