.bootstrap-wrapper {
    padding-bottom: 47rem;
    padding-top: 9.75rem
}

@media (min-width: 768px) {
    .bootstrap-wrapper {
        padding-bottom:24.5rem;
        padding-top: 10.5rem
    }
}

@media print {
    .bootstrap-wrapper {
        padding: 0!important
    }
}

